.R-mainpage{
    margin:5% 5% 5% 5%;
    width: 90%;
    height: 100%;
    position: absolute; 
    background-color:#A0EEE1;
    background-size: cover;
    background-image: url("login.jpg");
}

.register-card {
    width: 400px;
    position: absolute;
    right: 7em;
    top : 7em;
}

.back-to-login {
    float: right;
}